* {
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
    /* transition: all 0.5s; */
}

html {
    min-height: 100%;
    height: 100%;
}

header {
    border-bottom: solid 1px #fff;
    text-align: center;
}

h3 {
    text-align: center;
    color: yellow;
}

h2 {
    color: #fff;
    text-align: center;
    color: brown;
}

h1 {
    color: red;
}

.copy {
    color: #fff;
    text-align: center;
    margin-top: 15em;
}

body {
    margin: 0;
    /* Remove default margin */
    background-color: black;
    min-height: 100%;
    /* Ensure full viewport height */
    padding-bottom: 20px;
}


main {
    padding-bottom: 20px;
}

img {
    width: 150px;
    height: 100px;
    border-radius: 8px;
}

.sine,
.biceps,
.triceps,
.kurek,
.ciyin,
.leg {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 8px;
}

.sine:visited,
.biceps:visited,
.triceps:visited,
.kurek:visited,
.ciyin:visited,
.leg:visited,
.logButton:visited,
.sine:link,
.biceps:link,
.triceps:link,
.kurek:link,
.ciyin:link,
.leg:link,
.logButton:link {
    text-decoration: none;
    color: #fff;
}


.days {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

h4 {
    text-align: center;
}

.search {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 35px;
    outline: none;
}

.return {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

input[type="submit"] {
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.return:visited,
.return:link {
    text-decoration: none;
}

.return button {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color: #c36a2d;
    color: #fff;
}


.main >div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main>div>div {
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-radius: 15px;
}

.main>div>div>p {
    margin: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.detal {
    color: #fff;
}

.sets {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.main>div>div:nth-of-type(odd) {
    background-color: #483c32;
    transition: max-height 0.2s ease-out;
}

.main>div>div:nth-of-type(even) {
    background-color: gray;
    transition: max-height 0.2s ease-out;
}

.sets p {
    color: yellow;
}

.doneSets {
    color: rgb(31, 255, 31);
}

.sets button:nth-child(3), .sets button:nth-child(2) {
    border: none;
    border-radius: 50%;
    background-color: rgb(51, 255, 0);
    color: #002aff;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

div > div > div {
    display: none;
}

video {
    width: 50%;
    border-radius: 10px;
    border: solid 2px yellow;
}

section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

.mMain {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mMmain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mMmain > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mMmain > div a button {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.mMmain > div a:nth-of-type(1) {
    margin-bottom: 10px;
}

.mMmain > div a:nth-of-type(1) button {
    color: #fff;
    background-color: #402a23;
    width: 100%;
    cursor: pointer ;
}

.mMmain > div a:nth-of-type(2) button {
    color: #fff;
    background-color: #a55233;
    cursor: pointer;
}

.logs > div >div:nth-of-type(odd) {
    background-color: #483c32;
    border-radius: 10px;
    padding: 0 10px;
}

.logs > div >div:nth-of-type(even) {
    background-color: gray;
    border-radius: 10px;
    padding: 0 10px;
}
.logs > div >p:nth-of-type(odd) {
    background-color: #483c32;
    margin: 0;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.logs > div >p:nth-of-type(even) {
    background-color: gray;
    margin: 0;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.specific {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButton {
    background-color: #c36a2d;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    background: #f3bc77; 
}

.saveButton {
    /* background-color: #c36a2d; */
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    background: #f3bc77;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logButton button{
    /* background-color: #c36a2d; */
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    background: #f3bc77;
    margin: 0 auto;
    margin-top: 10px;
}

.removeProggramme {
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    background-color: red;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
}

.removeLog {
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    background-color: red;
    color: #fff;
    margin: 0 auto;
}

.weight {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border: none;
    border-radius: 35px;
    outline: none;
}

.addWeight {
    display: flex; gap: 5px; align-items: center; flex-wrap: wrap;
    padding: 3px;
    border: solid 2px #fff;
    border-radius: 15px;
}

.addWeight > div{
    display: flex; align-items: center; flex-wrap: wrap;
}

.addRep {
    display: flex; align-items: center; gap: 5px; flex-wrap: wrap;
    padding: 3px;
    border: solid 2px #fff;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media only screen and (max-width:426px) {
    video {
        width: 90%;
    }
}

@media only screen and (max-width:700px) {
    .main>div >div {
        width: 95%;
    }

    video {
        width: 70%;
    }
}