* {
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
    transition: all 0.5s;
}

html {
    min-height: 100%;
    height: 100%;
}

header {
    border-bottom: solid 1px #fff;
    text-align: center;
}

h3 {
    text-align: center;
    color: yellow;
}

h2 {
    color: #fff;
    text-align: center;
    color: brown;
}

h1 {
    color: red;
}

.copy {
    color: #fff;
    text-align: center;
    margin-top: 15em;
}

body {
    margin: 0;
    /* Remove default margin */
    background-color: black;
    min-height: 100%;
    /* Ensure full viewport height */
    padding-bottom: 20px;
}


main {
    padding-bottom: 20px;
}

img {
    width: 150px;
    height: 100px;
    border-radius: 8px;
}

.chest,
.biceps,
.triceps,
.back,
.shoulder,
.leg {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 8px;
}

.chest:visited,
.biceps:visited,
.triceps:visited,
.back:visited,
.shoulder:visited,
.leg:visited,
.chest:link,
.biceps:link,
.triceps:link,
.back:link,
.shoulder:link,
.leg:link {
    text-decoration: none;
    color: #fff;
}


.days {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h4 {
    text-align: center;
}

.search {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 35px;
    outline: none;
}

.return {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="submit"] {
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.return:visited,
.return:link {
    text-decoration: none;
}

.return button {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color: #c36a2d;
    color: #fff;
}


.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main>div {
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-radius: 15px;
}

.main>div>p {
    margin: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.detal {
    color: #fff;
}

.sets {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.sets p {
    /* color: #e2c275; */
    color: yellow;
}

.main>div:nth-of-type(odd) {
    background-color: #483c32;
    transition: max-height 0.2s ease-out;
}

.main>div:nth-of-type(even) {
    background-color: gray;
    transition: max-height 0.2s ease-out;
}

.doneSets {
    color: rgb(31, 255, 31);
}

.sets button:nth-child(3), .sets button:nth-child(2) {
    border: none;
    border-radius: 50%;
    background-color: rgb(51, 255, 0);
    color: #002aff;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

div > div {
    display: none;
}

video {
    width: 50%;
}

@media only screen and (max-width:700px) {
    .main>div {
        width: 95%;
    }

    video {
        width: 70%;
    }
}

@media only screen and (max-width:426px) {
    video {
        width: 90%;
    }
}